 /* X-Small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Very Small devices (landscape phones, 576px and down) */

 @media (max-width: 576px) {

     body {
         padding: 5px 20px;
     }

     #logo h3 {
         font-size: 0.8rem;
     }

     #logo img {
         width: 2em;
     }

     .navbar-nav {
         text-align: center;
     }

     .nav-link {
         margin: auto;
     }

     .jb-text h4 {
         font-size: 1em;
     }

     .jumbotron>div {
         flex-wrap: wrap;
     }

     .jb-text {
         order: 2;
     }

     .jb-image img {
         display: block;
         margin: auto;
         width: 18em;
         margin-bottom: 25px;
     }

     .nav-link {
         font-size: 0.8em;
     }

     .page {
         margin-bottom: 0.8em;
     }

     .page-title {
         font-size: 1em;
     }

     #about_us .d-flex div {
         width: 100% !important;
         flex-basis: 100% !important;
         margin-bottom: 20px;
     }

     #about_us .d-flex {
         flex-wrap: wrap;
     }

     p {
         font-size: 0.8em;
     }

     button {
         display: inline;
         transform: scale(0.7);
         margin: 0 !important;
     }

     .timeline {
         margin-top: 50px;
     }

     .timeline h2,
     .timeline p {

         font-size: 0.5em !important;
     }

     .page {
         margin-bottom: 10em;
     }

     #token h4,
     #token li {
         font-size: 1em;
     }

     #token .container {
         flex-wrap: wrap;
     }

     #token .container>div {
         flex-basis: 100%;
     }

     canvas {
         margin-top: -80px;
         transform: scale(0.5);
     }


     #presale .container {
         flex-wrap: wrap;
     }

     #presale .container>div {
         flex-basis: 100%;
     }

     #presale .container>div h2 {
         margin-bottom: 5px !important;
     }

     #presale button {
         width: 100% !important;
         margin-left: auto;
     }

     #presale .container>div:first-of-type {
         margin-bottom: 20px;

     }

     #presale .container>div:first-of-type div {
         margin-left: 1.5em !important;
         padding-left: 1.5em !important;
     }

     #presale p {
         margin-bottom: 0;
     }
 }


 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {}

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {}

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {}

 /* X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {}

 /* XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) {}