/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* End CSS Reset */

/* Bootstrap Replace */

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: black !important;
    border: 3px solid black !important;
    box-shadow: none !important;
    border-radius: 100px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: white !important;
    color: black !important;
}

.mr-10px {
    margin-right: 10px;
}

.ms-20px {
    margin-left: 100px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active {
    box-shadow: none !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    background-color: white !important;
    color: black !important;
}

.btn-secondary:hover {
    background-color: white !important;
    color: black !important;
}

.bold {
    font-weight: bold;
}

/* End Bootstrap Replace */

/* Loading Style */

#loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
}

.left-loading,
.right-loading {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: black;
}


.right-loading {
    right: 0;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}


/* End Loading Style */

#scroll-btn {
    border-radius: 0;
    position: fixed;
    right: 2%;
    bottom: 5%;
    display: none;
    z-index: 9999;
}

#scroll-btn:hover {
    background-color: black !important;
    color: white !important;
    border-radius: 0;
}

/* Header Style */

#particles-js {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}


.presale-header {
    height: 0;
}



.buy-header {
    height: 20vh;
}

#buy {
    margin-bottom: 25vh;
}



.navbar-toggler {
    background-color: black;
    box-shadow: none !important;
}

.navbar-toggler:active {
    transform: scale(0.7) !important;
}

.navbar-toggler-icon {
    color: white !important;
    filter: brightness(0) invert(1000);
}

.navbar {
    background: none !important;
    transition: background-color 0.5s;
}

.nav-link {
    padding: 0.5em 0 !important;
    margin-right: 20px;
    font-weight: bold;
}

.nav-item {
    cursor: pointer;
}

.nav-item .active {
    border-bottom: 2px solid black;


}

.nav-active {
    transition: background-color 0.5s;
    position: fixed !important;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 !important;
    background-color: black !important;
    z-index: 9999;
}

.nav-active #logo {
    padding: 0 !important;
}

.nav-active .nav-link,
.nav-active h3 {
    color: white !important;
}

.nav-active li a.active {
    border-color: white;
}


.jb-image img {
    width: 500px;
}

/* End Header Style */

/* Main Style */

.page {
    padding-top: 120px;
    margin-bottom: 30px;
}

/* About us Style */



/* End About us Style */

/* Roadmap Style */

.main-timeline {
    position: relative;
    z-index: 1;
}

.main-timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: black;
    margin: 0 auto 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.main-timeline .timeline {
    margin-bottom: 30px;
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline-content {
    width: 48%;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}

.main-timeline .timeline-icon {
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    z-index: 1;
}


.main-timeline .date {
    display: inline-block;
    padding: 2px 5px;
    background: black;
    font-size: 16px;
    color: #fff;
}

.main-timeline .timeline-content.left .date {
    margin-right: -4px;
}

.main-timeline .timeline-content.right .date {
    margin-left: -4px;
}

.main-timeline .title {
    display: inline-block;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 800;
    color: #333;
    border: 2px dotted black;
}

.main-timeline .description {
    padding: 20px;
    background: rgb(254, 254, 254);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 14px;
    color: black;
}

.main-timeline .timeline-content.left {
    text-align: right;
}

.main-timeline .timeline-content.right {
    float: right;
}


@media screen and (max-width: 767px) {
    .main-timeline:before {
        left: 0;
        margin: 0;
    }

    .main-timeline .timeline-content {
        width: 90%;
        float: right;
    }

    .main-timeline .timeline-icon {
        margin: 0;
        left: -1.5em;
    }

    .main-timeline .timeline-content.left {
        text-align: left;
    }


    .list-tl {
        padding-left: 0;
    }

    .list-tl li {
        margin-left: 2em !important;
    }

    .list-tl li::after {
        content: "";
        display: none;
    }

    .list-tl li::before {
        content: "";
        position: absolute;
        margin-top: 4px;
        margin-left: -2em;
        width: 15px;
        height: 15px;
        background-color: white;
        border: 2px solid black;
        border-radius: 50%;
    }

}

.active .timeline-icon {
    border: none;
    background-color: black;
    box-shadow: 0 0 0 2px white, 0 0 0 5px black;
}

.list-tl {
    list-style: none;
}

.list-tl li {
    position: relative;
    margin: 10px 20px;
}




.list-tl li::after {
    content: "";
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}

.timeline-content.right .list-tl li::after {
    left: -30px;
}

.timeline-content.right .list-tl li {
    margin-left: -15px;
}

/* End Roadmap Style */

/* Token Style */

canvas {
    margin-top: -150px;
    transform: scale(0.5);
}


#token {
    margin-bottom: 80px;
}

/* End Token Style */

/* End Main Style */

/* Footer Style */

.join-text {
    margin-left: 10px;
    word-spacing: 10px;
}

/* End Footer Style */